@model Elmah.Error
<section class="error-detail">
    <fieldset class="short-label">
        <legend>Error</legend>
        <section class="name-value">
            <div class="key-pair">
                <div class="display-label">
                    ApplicationName</div>
                <div class="display-field">
                    @Html.DisplayFor(model => model.ApplicationName)
                </div>
            </div>
            <div class="key-pair">
                <div class="display-label">
                    HostName</div>
                <div class="display-field">
                    @Html.DisplayFor(model => model.HostName)
                </div>
            </div>
            <div class="key-pair">
                <div class="display-label">
                    Type</div>
                <div class="display-field">
                    @Html.DisplayFor(model => model.Type)
                </div>
            </div>
            <div class="key-pair">
                <div class="display-label">
                    Source</div>
                <div class="display-field">
                    @Html.DisplayFor(model => model.Source)
                </div>
            </div>
            <div class="key-pair">
                <div class="display-label">
                    Message</div>
                <div class="display-field">
                    <pre>@Html.DisplayFor(model => model.Message)</pre>
                </div>
            </div>
            <div class="key-pair">
                <div class="display-label">
                    Detail</div>
                <div class="display-field">
                    <code>@Html.DisplayFor(model => model.Detail)</code>
                </div>
            </div>
            <div class="key-pair">
                <div class="display-label">
                    User</div>
                <div class="display-field">
                    @Html.DisplayFor(model => model.User)
                </div>
            </div>
            <div class="key-pair">
                <div class="display-label">
                    Time</div>
                <div class="display-field">
                    @Html.DisplayFor(model => model.Time)
                </div>
            </div>
            <div class="key-pair">
                <div class="display-label">
                    StatusCode</div>
                <div class="display-field">
                    @Html.DisplayFor(model => model.StatusCode)
                </div>
        </section>
    </fieldset>
    @if (Model.QueryString.Count > 0)
    {
        <section class="short-label">
            <details>
                <summary>Query String</summary>
                @Html.DisplayFor(m => m.QueryString)
            </details>
        </section>
    }
    @if (Model.Form.Count > 0)
    {
        <section class="short-label">
            <details>
                <summary>
                Form</summary>
                @Html.DisplayFor(m => m.Form)
            </details>
        </section>
    }
    @if (Model.ServerVariables.Count > 0)
    {

        <section class="short-label">
            <details>
                <summary>
                Server Variables</summary>
                @Html.DisplayFor(m => m.ServerVariables)
            </details>
        </section>
    }
    @if (Model.Cookies.Count > 0)
    {
        <section class="short-label">
            <details>
                <summary>
                Cookies</summary>
                @Html.DisplayFor(m => m.Cookies)
            </details>
        </section>
    }
</section>