@using ElmahLogViewer.Models;
@model IEnumerable<ElmahLogViewer.Models.ELMAH.ElmahError>
<table class="multi-body">
    <tr>
        <th>
            @Html.Partial("SortByProperty", new SortModel { Property = "Sequence" })
        </th>
        <th>
            @Html.Partial("SortByProperty", new SortModel { Property = "TimeUtc", Label = "Time" })
        </th>
        <th>
            @Html.Partial("SortByProperty", new SortModel { Property = "ErrorId", Label = "Error Id" })
        </th>
        <th>
            @Html.Partial("SortByProperty", new SortModel { Property = "Host" }) ~ @Html.Partial("SortByProperty", new SortModel { Property = "Application" })
        </th>
        <th>
            @Html.Partial("SortByProperty", new SortModel { Property = "StatusCode", Label = "Status Code" })
        </th>
        <th>
            @Html.Partial("SortByProperty", new SortModel { Property = "Type" })
        </th>
        <th>
            @Html.Partial("SortByProperty", new SortModel { Property = "User" })
        </th>
        <th>
            @Html.Partial("SortByProperty", new SortModel { Property = "Source" })
        </th>
        <th rowspan="2">
        </th>
    </tr>
    <tr>
        <th colspan="8">
            @Html.Partial("SortByProperty", new SortModel { Property = "Message" })
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tbody>
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Sequence)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TimeUtc)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ErrorId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Host)~@Html.DisplayFor(modelItem => item.Application)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StatusCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Source)
                </td>
                <td rowspan="2">
                    @Html.ActionLink("Details", "Error", new { serverId = item.ServerId, errorId = item.ErrorId })
                    |
                    @Html.ActionLink("Html", "Html", new { serverId = item.ServerId, errorId = item.ErrorId })
                </td>
            </tr>
            <tr>
                <td colspan="8">
                    <pre class="detail">@Html.DisplayFor(modelItem => item.Message)</pre>
                </td>
            </tr>
        </tbody>
    }
</table>
