@using ElmahLogViewer.Models;
@model ElmahLogViewer.Models.ELMAH.ErrorList
@{
    ViewBag.Title = "ErrorLog";
}
<h2>
    Error Log for</h2>
@Html.DisplayFor(m => m.Server)
@Html.Partial("SimpleSearch")
@Html.Partial("AdvancedSearch")
<fieldset>
    <legend>Errors</legend>
    @Html.DisplayFor(m => m.Constraints, "TopConstraints")
    @Html.DisplayFor(m => m.Results, "Errors")
    @Html.DisplayFor(m => m.Constraints, "BottomConstraints")
</fieldset>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>