<form action="@Url.Action("AdvancedSearch", "Log")" method="get" id="advancedSearch">
<fieldset>
    <legend>Advanced Search</legend>
    @Html.Partial("ViewDataHiddenInput", "serverId")
    <div class="left fifty-percent">
        <div class="editor-label">
            @Html.Label("application", "Application")
        </div>
        <div class="editor-field">
            @Html.DropDownList("application", (IEnumerable<SelectListItem>)ViewData["applications"], new { @class = "autocomplete" })
        </div>
        <div class="editor-label">
            @Html.Label("host", "Host")
        </div>
        <div class="editor-field">
            @Html.DropDownList("host", (IEnumerable<SelectListItem>)ViewData["hosts"], new { @class = "autocomplete" })
        </div>
        <div class="editor-label">
            @Html.Label("statusCode", "Status Code")
        </div>
        <div class="editor-field">
            @Html.DropDownList("statusCode", (IEnumerable<SelectListItem>)ViewData["statusCodes"], new { @class = "autocomplete" })
        </div>
        <div class="editor-label">
            @Html.Label("source", "Source dll")
        </div>
        <div class="editor-field">
            @Html.DropDownList("source", (IEnumerable<SelectListItem>)ViewData["sources"], new { @class = "autocomplete" })
        </div>
        <div class="editor-label">
            @Html.Label("type", "Exception Type")
        </div>
        <div class="editor-field">
            @Html.DropDownList("type", (IEnumerable<SelectListItem>)ViewData["types"], new { @class = "autocomplete" })
        </div>
        <input type="submit" value="Search" />
    </div>
    <div class="left fifty-percent">
        <div class="editor-label">
            @Html.Label("errorId", "Error Id")
        </div>
        <div class="editor-field">
            @Html.TextBox("errorId", ViewData["errorId"])
        </div>
        <div class="editor-label">
            @Html.Label("fromSequence", "From Sequence Number")
        </div>
        <div class="editor-field">
            @Html.TextBox("fromSequence", ViewData["fromSequence"])
        </div>
        <div class="editor-label">
            @Html.Label("toSequence", "To Sequence Number")
        </div>
        <div class="editor-field">
            @Html.TextBox("toSequence", ViewData["toSequence"])
        </div>
        <div class="editor-label">
            @Html.Label("message", "Message")
        </div>
        <div class="editor-field">
            @Html.TextBox("message", ViewData["message"])
        </div>
        <div class="editor-label">
            @Html.Label("fromTimeUtc", "From Time")
        </div>
        <div class="editor-field">
            @Html.TextBox("fromTimeUtc", ViewData["fromTimeUtc"], new { @class = "datefield", type = "date" })
        </div>
        <div class="editor-label">
            @Html.Label("toTimeUtc", "To Time")
        </div>
        <div class="editor-field">
            @Html.TextBox("toTimeUtc", ViewData["toTimeUtc"], new { @class = "datefield", type = "date" })
        </div>
        <div class="editor-label">
            @Html.Label("user", "User")
        </div>
        <div class="editor-field">
            @Html.TextBox("user", ViewData["user"])
        </div>
    </div>
</fieldset>
</form>