@model mvc4.ElmahLogViewer.Areas.Elmah.Models.Error
@{
    ViewBag.Title = "Error";
}
@section featured
{
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>
                    Error</h1>
            </hgroup>
            @Html.DisplayFor(m => m.ServerDetails)
            <nav>
            @Html.ActionLink("Html", "Html", new { serverId = Model.ServerDetails.ServerId, errorId = Model.ErrorDetails.ErrorId })
            |
            @Html.ActionLink("Back to List", "ErrorLog", new { serverId = Model.ServerDetails.ServerId })
            </nav>
        </div>
    </section>
}
@Html.DisplayFor(m => m.ElmahError)
<nav>
    @Html.ActionLink("Html", "Html", new { serverId = Model.ServerDetails.ServerId, errorId = Model.ErrorDetails.ErrorId })
    |
    @Html.ActionLink("Back to List", "ErrorLog", new { serverId = Model.ServerDetails.ServerId })
</nav>