@model ElmahLogViewer.Models.ELMAH.ServerForm
@Html.ValidationSummary(true)
<fieldset>
    <legend>ServerForm</legend>
    @Html.HiddenFor(model => model.ServerId)
    <div class="editor-label">
        @Html.LabelFor(model => model.ConnectionString)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.ConnectionString)
        @Html.ValidationMessageFor(model => model.ConnectionString)
    </div>
    <div class="editor-label">
        @Html.LabelFor(model => model.Environment)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.Environment)
        @Html.ValidationMessageFor(model => model.Environment)
    </div>
    <div class="editor-label">
        @Html.LabelFor(model => model.Name)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.Name)
        @Html.ValidationMessageFor(model => model.Name)
    </div>
    <p>
        <input type="submit" value="Create" />
    </p>
</fieldset>