@using ElmahLogViewer.Models;
@using ElmahLogViewer.Models.ELMAH;
@model ServerList
@{
    ViewBag.Title = "Index";
}
<table>
    <tr>
        <td>
            <h2>
                Elmah Servers</h2>
            @Html.Partial("SimpleSearch")
            <fieldset>
                <legend>Servers</legend>
                @Html.DisplayFor(m => m.Constraints, "TopConstraints")
                @Html.DisplayFor(m => m.Results, "Servers")
                @Html.DisplayFor(m => m.Constraints, "BottomConstraints")
            </fieldset>
        </td>
        <td>
            <div id="add-server">
                @Html.Partial("Create", new ServerForm())
            </div>
        </td>
    </tr>
</table>
<div>
    @Html.ActionLink("Back to List", "Index")
</div>
